body {
    margin: 0;
    font-family: "Rubik", "DM Serif Display", "Arial", sans-serif;
    background: #FEF8F5;
}

.container {
    width: 1285px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

li {
    display: block;
}

@media screen and (max-width: 768px) {
    body {
        width: 45rem;
        text-align: center;
    }

    :root {
        font-size: 12px; 
        /* не обовʼязково */
    }

    .container {
        width: 45rem;
        padding: 0 40px;
    }
}