.hero__title {
    font-weight: 400;
    font-size: 100px;
    line-height: 100%; /* 100px */
    color: #fff;
    margin-left: 77px;
    height: 300px;
    margin-bottom: 60px;
    font-family: DM Serif Display;
}

.hero__inner {
    width: 741px;
}

.hero{
    height: 1103px;
    /* background-image: url(../image/Background\ Scene1.png);
    background-repeat: no-repeat; */
}
.hero > .container {
    background-image: url(../image/Mask\ group.png);
    background-repeat: no-repeat;
    height: 1103px;
}

.hero__car {
    width: 811px;
    height: 395px;
    margin-top: 90px;
    margin-left: -550px;
    z-index: 1;
    position: absolute;
    
}

.hero__button {
    border-radius: 5px;
    background: #EE4D47;
    width: 220px;
    height: 60px;
    margin-left: 77px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

.union {
    margin-left: 24px;
}